.buttons {
  max-width: 680px;
  padding: 40px 20px;
  margin: 0;
}

.buttons__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #bbbbbb;
  width: 100%;
  padding: 0;
  margin: 0;
}

.buttons__explanation {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #bbbbbb;
  width: 100%;
  padding: 10px 0 0;
  margin: 0;
}

.buttons__list {
  list-style-type: none;
  padding: 40px 0 0;
  margin: 0 0 42px;
}

.buttons__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0;
}

.buttons__container {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0 20px 0 0;
}

.buttons__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
  box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  border-radius: 30px;
  padding: 0 20px;
  margin: 0;
}

.buttons__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #111111;
  width: 100%;
  padding: 0;
  margin: 0;
}

.buttons__return {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #bbbbbb;
  background-color: #111111;
  border: 2px solid #bbbbbb;
  border-radius: 22px;
  width: 160px;
  padding: 0;
  margin: 0 auto;
}

.buttons__return:hover {
  color: #111111;
  background-color: #bbbbbb;
  cursor: pointer;
}
