.change {
  display: block;
  background-color: transparent;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid red;
  border-radius: 15px;
  padding: 8px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.change.gray {
  border-color: #bbbbbb;
}

.change.yellow {
  border-color: #d5d832;
}

.bi-gear.gray {
  fill: #bbbbbb;
}

.bi-gear.yellow {
  fill: #d5d832;
}

.change:hover.gray {
  background-color: #bbbbbb;
}

.change:hover.yellow {
  background-color: #d5d832;
}

.change:hover .bi-gear {
  fill: #111111;
}
