.element {
  width: 400px;
  padding: 20px;
  margin: 0;
}

.element__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #bbbbbb;
  width: 100%;
  padding: 0;
  margin: 0 0 20px;
}

.element__container {
  padding: 0;
  margin: 0 0 20px;
}

.element__label {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #d5d832;
  width: 100%;
  padding: 0;
  margin: 0 0 10px;
}

.element__input {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #bbbbbb;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #bbbbbb;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin: 0 0 5px;
}

.element__input:hover {
  border-color: #d5d832;
}

.element__input:focus {
  color: #111111;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}

.element__input::-webkit-outer-spin-button,
.element__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.element__explanation {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #bbbbbb;
  width: 100%;
  min-height: 42px;
  padding: 0;
  margin: 0;
}

.element__explanation_error {
  color: red;
}

.element__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.element__submit {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #d5d832;
  background-color: transparent;
  border: 2px solid #d5d832;
  border-radius: 15px;
  box-sizing: border-box;
  width: 100px;
  padding: 0;
  margin: 0;
  opacity: 1;
}

.element__submit:hover {
  color: #111111;
  background-color: #d5d832;
  cursor: pointer;
}

.element__submit_disabled {
  opacity: 0.2;
}

.element__submit_disabled:hover {
  color: #d5d832;
  background-color: transparent;
  cursor: default;
}

.element__return {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #bbbbbb;
  background-color: transparent;
  border: 2px solid #bbbbbb;
  border-radius: 15px;
  box-sizing: border-box;
  width: 100px;
  padding: 0;
  margin: 0;
}

.element__return:hover {
  color: #111111;
  background-color: #bbbbbb;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  .element {
    box-sizing: border-box;
    width: 100%;
  }
}
