.left {
  display: block;
  background-color: transparent;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid red;
  border-radius: 15px;
  padding: 6px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.left.gray {
  border-color: #bbbbbb;
}

.left.yellow {
  border-color: #d5d832;
}

.bi-caret-left.gray {
  fill: #bbbbbb;
}

.bi-caret-left.yellow {
  fill: #d5d832;
}

.left:disabled {
  cursor: default;
  opacity: 0.7;
}

.left:disabled.gray {
  background-color: #bbbbbb;
}

.left:disabled.yellow {
  background-color: #d5d832;
}

.left:disabled .bi-caret-left {
  fill: #111111;
}

.left_active {
  border: none;
}

.left_active:hover {
  opacity: 50%;
}
