.left {
  display: block;
  background-color: transparent;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: none;
  padding: 6px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.left:active {
  opacity: 0.5;
}

.left:disabled {
  cursor: default;
  opacity: 1;
}

.left_warning svg {
  fill: #d86932;
}
