.cable {
  background-color: transparent;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 2px solid #d5d832;
  border-radius: 50%;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
}

.cable:hover {
  background-color: #d5d832;
}

.cable:hover .cable__image {
  stroke: #111111;
}
