.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 4px solid #d5d832;
  border-radius: 30px;
  width: 52px;
  height: 52px;
}

.box__inner {
  border: 4px solid #d5d832;
  background-color: transparent;
  width: 29px;
  height: 29px;
}
