.delete {
  display: block;
  background-color: transparent;
  box-sizing: border-box;
  width: 40px;
  height:40px;
  border: 2px solid red;
  border-radius: 15px;
  padding: 6px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.delete.gray {
  border-color: #bbbbbb;
}

.delete.yellow {
  border-color: #d5d832;
}

.bi-trash.gray {
  fill: #bbbbbb;
}

.bi-trash.yellow {
  fill: #d5d832;
}

.delete:disabled {
  cursor: default;
  opacity: 0.7;
}

.delete:disabled.gray {
  background-color: #bbbbbb;
}

.delete:disabled.yellow {
  background-color: #d5d832;
}

.delete:disabled .bi-trash {
  fill: #111111;
}

.delete_active {
  border: none;
}

.delete_active:hover {
  opacity: 0.5;
}
