.materials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/circle.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0;
  margin: 0;
}

.materials__page {
  box-sizing: border-box;
  width: 460px;
  padding: 30px 15px 90px;
  margin: 0;
}

.materials__page_nodrawing {
  padding: 30px 15px 70px;
}

.materials__page_nolist {
  padding: 30px 15px 30px;
}

.materials__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #bbbbbb;
  box-sizing: border-box;
  max-width: 200px;
  padding: 0;
  margin: 0 auto 5px;
}

.materials__title_nodrawing {
  margin: 0 auto 16px;
}

.materials__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #bbbbbb;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0 0 15px;
}

.materials__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.materials__item {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 4px;
  padding: 2px 0;
  margin: 0;
}

.materials__item:first-child {
  padding: 0 0 2px;
}

.materials__item:last-child {
  padding: 2px 0 0;
}

.materials__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
  box-sizing: border-box;
  width: 100%;
  min-height: 36px;
  padding: 0 20px;
  margin: 0;
}

.materials__name {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #111111;
  width: 100%;
  padding: 0;
  margin: 0;
}

.materials__number {
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #111111;
  background-color: #bbbbbb;
  min-width: 32px;
  height: 36px;
  padding: 0 10px;
  margin: 0;
}

.materials__item:first-child .materials__label {
  border-top-left-radius: 18px;
}

.materials__item:last-child .materials__label {
  border-bottom-left-radius: 18px;
}

.materials__item:first-child .materials__number {
  border-top-right-radius: 18px;
}

.materials__item:last-child .materials__number {
  border-bottom-right-radius: 18px;
}

@media screen and (max-width: 460px) {
  .materials__page {
    width: 100%;
  }
}
