.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 60px 10px;
  margin: 0;
}

.list__size {
  font-size: 16px;
  line-height: 20px;
  color: #bbb;
  padding: 30px 0 0;
  margin: 0;
}

.list__size + .list__size {
  padding: 0;
}
