.add {
  display: block;
  background-color: transparent;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 2px solid red;
  border-radius: 22px;
  padding: 10px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.add.gray {
  border-color: #bbbbbb;
}

.add.yellow {
  border-color: #d5d832;
}

.bi-plus-lg.gray {
  fill: #bbbbbb;
}

.bi-plus-lg.yellow {
  fill: #d5d832;
}

.add:hover.gray {
  background-color: #bbbbbb;
}

.add:hover.yellow {
  background-color: #d5d832;
}

.add:hover .bi-plus-lg {
  fill: #111111;
}
