.lamp {
  background-color: transparent;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 2px solid red;
  border-radius: 50%;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
}

.lamp.gray {
  border-color: #bbbbbb;
}

.lamp.yellow {
  border-color: #d5d832;
}

.lamp .gray {
  stroke: #bbbbbb;
}

.lamp .yellow {
  stroke: #d5d832;
}

.lamp:hover.gray {
  background: #bbbbbb;
}

.lamp:hover.yellow {
  background: #d5d832;
}

.lamp:hover .gray {
  fill: #bbbbbb;
}

.lamp:hover .yellow {
  fill: #d5d832;
}

.lamp:hover line {
  stroke: #111111;
}

.lamp:disabled {
  cursor: default;
}

.lamp:disabled .gray {
  fill: #bbbbbb;
}

.lamp:disabled .yellow {
  fill: #d5d832;
}

.lamp:disabled.gray {
  background: #bbbbbb;
}

.lamp:disabled.yellow {
  background: #d5d832;
}

.lamp:disabled line {
  stroke: #111111;
}
