.lamp {
  background-color: #111111;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 2px solid red;
  border-radius: 50%;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
}

.lamp:hover .lamp__image {
  stroke: #111111;
}

.lamp_list_elements {
  border-color: #d5d832;
}

.lamp_list_elements .lamp__image {
  stroke: #d5d832;
}

.lamp_list_elements:hover {
  background-color: #d5d832;
}

.lamp_list_actions {
  border-color: #bbbbbb;
  background-color: #bbbbbb;
  cursor: default;
}

.lamp_list_actions .lamp__image {
  stroke: #111111;
}

.lamp_list_nolist {
  border-color: #bbbbbb;
}

.lamp_list_nolist .lamp__image {
  stroke: #bbbbbb;
}

.lamp_list_nolist:hover {
  background-color: #bbbbbb;
}
