.lamp {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.lamp .gray {
  stroke: #bbbbbb;
}

.lamp .yellow {
  stroke: #d5d832;
}

.lamp:hover .gray {
  fill: #bbbbbb;
}

.lamp:hover .yellow {
  fill: #d5d832;
}

.lamp:hover line {
  stroke: #111111;
}

.lamp:disabled {
  cursor: default;
}

.lamp:disabled .gray {
  fill: #bbbbbb;
}

.lamp:disabled .yellow {
  fill: #d5d832;
}

.lamp:disabled line {
  stroke: #111111;
}
