.actions {
  list-style-type: none;
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}

.actions__item {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
}

.actions__item_element {
  top: 0;
  left: 0;
}

.actions__item_left {
  top: 65px;
  right: 65px;
}

.actions__item_delete {
  top: 65px;
  left: 0;
}

.actions__item_right {
  top: 65px;
  left: 65px;
}
