.actions {
  list-style-type: none;
  display: block;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.actions__item {
  display: block;
  position: relative;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.actions__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(calc(-50% + 18px), -45px);
  min-width: 80px;
  padding: 0;
  margin: 0;
}

.actions__list_bottom {
  transform: translate(calc(-50% + 18px), 45px);
}

.actions__indicator {
  font-size: 20px;
  line-height: 36px;
  color: #bbbbbb;
  height: 36px;
  padding: 0;
  margin: 0;
}
