.elements {
  max-width: 450px;
  padding: 25px 15px;
  margin: 0;
}

.elements__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #bbbbbb;
  box-sizing: border-box;
  width: 100%;
  padding: 0 46px 0 0;
  margin: 0 0 20px;
}

.elements__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
}

.elements__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin: 0;
}

.elements__container {
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
}

.elements__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #bbbbbb;
  box-sizing: border-box;
  width: 100%;
  min-height: 36px;
  border-radius: 18px;
  padding: 0 10px;
  margin: 0 10px 0 0;
}

.elements__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #111111;
  width: 100%;
  padding: 0;
  margin: 0;
}

.elements__return {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #bbbbbb;
  background-color: #111111;
  border: 2px solid #bbbbbb;
  border-radius: 15px;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  padding: 0;
  margin: 0 auto;
}

.elements__return:hover {
  color: #111111;
  background-color: #bbbbbb;
  cursor: pointer;
}
