.header {
  width: 100%;
  border-bottom: 1px solid #222222;
  padding: 12px 0;
  margin: 0;
}

.header__navigation {
  width: 100%;
  padding: 0;
  margin: 0;
}

.header__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header__item {
  padding: 0;
  margin: 0;
}

.header__link {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #bbbbbb;
  background-color: #111111;
  border: 2px solid #bbbbbb;
  width: 100px;
  padding: 0;
  margin: 0;
}

.header__link:hover {
  color: #666666;
}

.header__link_center {
  position: relative;
  display: block;
  background-color: #111111;
  border: 2px solid #bbbbbb;
  border-radius: 15px;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0 -15px;
  z-index: 1;
}

.header__link_center:hover svg {
  fill: #666666;
}

.header__link_left {
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-right: 13px;
}

.header__link_right {
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 13px;
}

.header__link_active {
  color: #111111;
  background-color: #bbbbbb;
  cursor: default;
}

.header__link_active:hover {
  color: #111111;
}

.header__link_active svg {
  fill: #111111;
}

.header__link_active:hover svg {
  fill: #111111;
}
