.search {
  display: block;
  background-color: transparent;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid red;
  border-radius: 15px;
  padding: 8px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.search.gray {
  border-color: #bbbbbb;
}

.search.yellow {
  border-color: #d5d832;
}

.bi-search.gray {
  fill: #bbbbbb;
}

.bi-search.yellow {
  fill: #d5d832;
}

.search:hover.gray {
  background-color: #bbbbbb;
}

.search:hover.yellow {
  background-color: #d5d832;
}

.search:hover .bi-search {
  fill: #111111;
}
