.help {
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  text-decoration: none;
  color: red;
  background-color: transparent;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 4px solid red;
  border-radius: 30px;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.help.gray {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

.help.yellow {
  color: #d5d832;
  border-color: #d5d832;
}

.help:hover.gray {
  color: #111111;
  background-color: #bbbbbb;
}

.help:hover.yellow {
  color: #111111;
  background-color: #d5d832;
}
