@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes opposite-rotation {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.elements {
  list-style-type: none;
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  animation: rotation 30s linear infinite running;
}

.elements__item {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  animation: opposite-rotation 30s linear infinite running;
}

.elements__item_help {
  top: 0;
  left: 0;
}

.elements__item_lamp {
  top: -120px;
  left: 0;
}

.elements__item_junction-box {
  top: -37px;
  right: -114px;
}

.elements__item_auto-switch {
  top: -37px;
  left: -114px;
}

.elements__item_switch {
  bottom: -97px;
  right: -71px;
}

.elements__item_socket {
  bottom: -97px;
  left: -71px;
}

.elements__link {
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
