.scheme-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 2px solid #bbbbbb;
  border-radius: 20px;
  padding: 0;
  margin: 0;
}

.scheme-list-item_current {
  background-color: #bbbbbb;
}

.scheme-list-item__drawing {
  color: #bbbbbb;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  width: calc(100% - 80px);
  height: 36px;
  outline: none;
  border: none;
  padding: 0 0 0 20px;
  margin: 0;
}

.scheme-list-item__drawing:hover {
  opacity: 0.5;
  cursor: pointer;
}

.scheme-list-item__drawing_current {
  color: #111111;
}

.scheme-list-item__drawing_current:hover {
  opacity: 1;
  cursor: default;
}

.scheme-list-item__name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scheme-list-item__date {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scheme-list-item__action {
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 40px;
  height: 36px;
  padding: 6px 16px 6px 0;
  margin: 0;
}

.scheme-list-item__action:hover {
  opacity: 0.5;
  cursor: pointer;
}

.scheme-list-item__action_current svg {
  fill: #111111;
}
