.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  border: 2px solid red;
  border-radius: 50%;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.box__inner {
  box-sizing: border-box;
  border: 2px solid red;
  width: 19px;
  height: 19px;
}

.box:hover .box__inner {
  border-color: #111111;
}

.box_list_elements {
  border-color: #d5d832;
}

.box_list_elements .box__inner {
  border-color: #d5d832;
}

.box_list_elements:hover {
  background-color: #d5d832;
}

.box_list_actions {
  border-color: #bbbbbb;
  background-color: #bbbbbb;
  cursor: default;
}

.box_list_actions .box__inner {
  border-color: #111111;
}

.box_list_nolist {
  border-color: #bbbbbb;
}

.box_list_nolist .box__inner {
  border-color: #bbbbbb;
}

.box_list_nolist:hover {
  background-color: #bbbbbb;
}
