.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 50%;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.box__inner {
  border: 2px solid red;
  background-color: transparent;
  width: 17px;
  height: 17px;
}

.box.gray {
  border-color: #bbbbbb;
}

.box.yellow {
  border-color: #d5d832;
}

.box__inner.gray {
  border-color: #bbbbbb;
}

.box__inner.yellow {
  border-color: #d5d832;
}

.box:hover .box__inner {
  border-color: #111111;
}

.box:hover.gray {
  background-color: #bbbbbb;
}

.box:hover.yellow {
  background-color: #d5d832;
}

.box:disabled .box__inner {
  border-color: #111111;
}

.box:disabled.gray {
  background-color: #bbbbbb;
  cursor: default;
}

.box:disabled.yellow {
  background-color: #d5d832;
  cursor: default;
}
