.key {
  box-sizing: border-box;
  width: 460px;
  padding: 30px 15px;
  margin: 0;
}

.key__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #bbbbbb;
  width: 100%;
  padding: 0;
  margin: 0 0 25px;
}

.key__form {
  padding: 0;
  margin: 0;
}

.key__input {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  color: #bbbbbb;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #bbbbbb;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  margin: 0 0 5px;
}

.key__input:hover {
  border-color: #d5d832;
}

.key__input:focus {
  color: #111111;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}

.key__input::-webkit-outer-spin-button,
.key__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.key__explanation {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #bbbbbb;
  width: 100%;
  min-height: 28px;
  padding: 0;
  margin: 0 0 25px;
}

.key__explanation_error {
  color: red;
}

.key__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.key__submit {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #d5d832;
  background-color: transparent;
  border: 2px solid #d5d832;
  border-radius: 15px;
  box-sizing: border-box;
  width: 120px;
  padding: 0;
  margin: 0;
  opacity: 1;
}

.key__submit:hover {
  color: #111111;
  background-color: #d5d832;
  cursor: pointer;
}

.key__submit_disabled {
  opacity: 0.3;
}

.key__submit_disabled:hover {
  color: #d5d832;
  background-color: transparent;
  cursor: default;
}

.key__return {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #bbbbbb;
  background-color: transparent;
  border: 2px solid #bbbbbb;
  border-radius: 15px;
  box-sizing: border-box;
  width: 120px;
  padding: 0;
  margin: 0;
}

.key__return:hover {
  color: #111111;
  background-color: #bbbbbb;
  cursor: pointer;
}

.key__authorization {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #d5d832;
  background-color: transparent;
  border: 2px solid #d5d832;
  border-radius: 15px;
  box-sizing: border-box;
  width: 230px;
  padding: 0;
  margin: 0 auto;
  opacity: 1;
}

@media screen and (max-width: 460px) {
  .key {
    width: 100%;
  }
}
