.auto-switch {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: red;
  background-color: transparent;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 2px solid red;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.auto-switch.gray {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

.auto-switch.yellow {
  color: #d5d832;
  border-color: #d5d832;
}

.auto-switch:hover.gray {
  color: #111111;
  background-color: #bbbbbb;
}

.auto-switch:hover.yellow {
  color: #111111;
  background-color: #d5d832;
}

.auto-switch:disabled.gray {
  color: #111111;
  background-color: #bbbbbb;
  cursor: default;
}

.auto-switch:disabled.yellow {
  color: #111111;
  background-color: #d5d832;
  cursor: default;
}
